<a href="{{url}}" style="color: inherit; text-decoration: none">
  <div class="col-12 col-lg-6 post mb-4">
    {{#if feature_image}}
      <div style="background-image: url({{img_url feature_image size='xl'}})" class="image"></div>
    {{/if}}

    <div style="max-width: 480px">
    <p class="post-meta caption mt-2 mb-1">
      {{#foreach authors}}
        {{name}} | 
      {{/foreach}}
      <time class="post-full-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD.MM.YYYY"}}</time>
    </p>
    
    <h2 class="mt-0">{{title}}</h2>
    <p class="post-summary">
      {{excerpt words="33"}}
    </p>
    <p><a href="{{url}}" class="forward-link post-link">Read More <i class="align-middle material-icons">arrow_forward</i></a></p>
    </div>
  </div>
</a>
