<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114715134-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-114715134-1');
  </script>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Incentivized mesh networks">
  <meta name="author" content="Jehan Tremback">
  <link rel="stylesheet" type="text/css" href="{{asset "built/main.css"}}" />
  <title>Althea</title>
</head>
<body class="{{body_class}}">
<nav class="navbar navbar-expand-lg navbar-light bg-yellow">
  <div class="container py-3 py-sm-0">
    <a class="navbar-brand" href="https://althea.org/">
      Althea
    </a>

    <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="material-icons mb-2">menu</i>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <div class="navbar-nav top-nav">
        <a class="nav-item btn" href="https://althea.org/about" role="button">About</a>
        <a class="nav-item btn" href="https://althea.org/how-it-works" role="button">How it works</a>
        <a class="nav-item btn" href="https://althea.org/case-studies" role="button">Case Studies</a>
        <a class="nav-item btn" href="https://medium.com/althea-mesh" role="button">Blog</a>
        <a class="d-lg-none nav-item btn" href="https://althea.org/#get-involved" role="button">Get Involved</a>
        <a class="d-none d-lg-inline nav-item btn btn-primary" href="https://althea.org/#get-involved" role="button">Get Involved</a>
      </div>
    </div>
  </div>
</nav>
        {{{body}}}

        {{!-- The footer at the very bottom of the screen --}}
<div class="footer bg-dark py-4 py-sm-5">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-6 col-md-3 mb-2">
        <i class="material-icons text-primary mb-2">
          info
        </i>
        <div class="mb-2 footer-label">About</div>
        <ul class="list-unstyled footer-list">
          <li><a href="#">How it works</a></li>
          <li><a href="#">Case Studies</a></li>
          <li class="d-none"><a href="#">About the project</a></li>
          <li class="d-none"><a href="#">Team</a></li>
          <li class="d-none"><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-6 col-md-3 mb-2">
        <i class="material-icons text-primary mb-2">
          local_library
        </i>
        <div class=" mb-2 footer-label">Learn</div>
        <ul class="list-unstyled footer-list">
          <li><a href="https://medium.com/althea-mesh">Blog</a></li>
          <li><a href="#">Whitepaper</a></li>
          <li><a href="https://www.youtube.com/channel/UC9B6l5k2NF2Gu_aCRBhe9Gw">Youtube</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-6 col-md-3 mb-2">
        <i class="material-icons text-primary mb-2">
          chat
        </i>
        <div class="mb-2 footer-label">Connect</div>
        <ul class="list-unstyled footer-list">
          <li><a href="https://discord.gg/vw8twzR">Chat</a></li>
          <li><a href="https://twitter.com/altheaorg">Twitter</a></li>
          <li><a href="https://www.reddit.com/r/altheamesh/">Reddit</a></li>
          <li><a href="mailto:hello@altheamesh.com">Send us an Email</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-6 col-md-3 mb-2">
        <i class="material-icons text-primary mb-2">
          code
        </i>
        <div class="mb-2 footer-label">Resources</div>
        <ul class="list-unstyled footer-list">
          <li><a href="https://github.com/althea-mesh">Github</a></li>
          <li><a href="https://forum.altheamesh.com/c/education-and-resources">Documentation</a></li>
          <li><a href="#">Getting Started Guide</a></li>
          <li><a href="#">Glossary</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </div>
    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{asset "built/jquery.fitvids.js"}}"></script>

    {{#if pagination.pages}}
    <script src="{{asset "built/infinitescroll.js"}}"></script>
    {{/if}}

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
