{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<div class="bg-yellow blog-header {{#if feature_image}}has-image{{/if}}">
  <div class="d-flex flex-wrap flex-lg-nowrap skinny container">
    <div class="mt-md-4 w-100 text-center">
      <p class="tiny-caption mb-2">
        {{#primary_author}}
          <a href="{{url}}" style="text-decoration: none; border: none;">{{name}}</a>
        {{/primary_author}} |
        <time class="post-full-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD.MM.YYYY"}}</time>
      </p>
      <h2>{{title}}</h2>
      {{#if feature_image}}
        <div class="mt-md-4">
          <figure style="position: absolute; left: 0;" class=" d-none d-md-block w-100">
            <div class="lead-image" style="background-image: url({{img_url feature_image}});"></div>
          </figure>
          <div class="d-none d-md-block d-lg-none" style="height: 150px"></div>
          <div class="d-none d-lg-block" style="height: 300px"></div>
        </div>
      {{/if}}
    </div>
  </div>
</div>

{{#if feature_image}}
<div style="background-image: url({{img_url feature_image}})" class="blog-image d-md-none"></div>
{{/if}}

<div class="bg-white {{#if feature_image}}has-image{{/if}}">
  <div class="skinny container top-section section blog-post">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        {{ content }}
      </div>
    </div>
    {{#if tags}}
    <hr class="light-yellow" />
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
        <div class="w-100 d-flex d-md-none justify-content-between">
          {{#foreach tags}}
          <div>
            <a href="{{url}}" title="{{name}}" class="btn btn-tag py-1">{{name}}</a>
          </div>
          {{/foreach}}
        </div>
        <div class="w-100 d-none d-md-flex justify-content-start">
          {{#foreach tags}}
          <div>
            <a href="{{url}}" title="{{name}}" class="btn btn-tag mr-2 px-3 py-1">{{name}}</a>
          </div>
          {{/foreach}}
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</div>

{{#if primary_tag}}
{{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="2" include="authors" as |related_posts|}}
{{#if related_posts}}
<div class="skinny container light-yellow py-4">
  <h3 class="text-center w-100">Related Posts</h3>
  <div class="d-flex flex-wrap row posts mt-4">
    {{#foreach related_posts}}
    {{> "post-card"}}
    {{/foreach}}
  </div>
</div>
{{/if}}
{{/get}}
{{/if}}
{{/post}}
